.cards{
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.card-container h2 {
  text-align: center;
  padding-top: 20px;
}

.cards img {
  width: 100px;
}

.apply-card {
  box-shadow: 5px 5px 25px rgba(160, 160, 160, 0.3);
  width: 650px;
  border-radius: 8px;
  margin: 20px;
  padding-top: 20px;
}

.learn-card{
  box-shadow: 5px 5px 25px rgba(160, 160, 160, 0.3);
  width: 650px;
  border-radius: 8px;
  margin: 20px;
  padding-top: 20px;
}

.build-card{
  box-shadow: 5px 5px 25px rgba(160, 160, 160, 0.3);
  width: 650px;
  border-radius: 8px;
  margin: 20px;
  padding-top: 20px;
}
